.button{
    margin: 10px 10px;
    padding: 10px 10px;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid gray;
    border-radius: 8px;
}
.button:hover {
    background-color: gray;
    color: white;
}